@import "../styles/styleUtils.scss";
.Nav {
    height: 100%;
    overflow: auto;
    width: 22rem;
    box-sizing: border-box;
    padding: var(--spacing-03);
    .NavLink {
        display: block;
        color: var(--text-01);
        &:hover {
            color: var(--interactive-01);
        }
    }
    :global {
        .level_1 {
            margin-bottom: var(--spacing-01);
        }
        .level_2, .level_3 {
            margin-top: var(--spacing-01);
            + .level_1 {
                margin-top: var(--spacing-03);
            }
            margin-left: var(--spacing-03);
        }
        .level_3 {
            margin-left: var(--spacing-05);
        }
    }
}

.Docs {
    display: flex;
    height: 100%;
    &Content {
        overflow: auto;
        height: 100%;
        width: 100%;
        scroll-behavior: smooth;
        &Inner {
            width: 100%;
            box-sizing: border-box;
            max-width: 800px;
            margin: auto;
        }
    }

    // use normal link color and other basic styles
    a {
        color: var(--interactive-01);
    }

    table,
    th,
    td {
        border: 0.5px solid var(--text-01);
        border-spacing: 0;
    }

    img {
        max-width: 100%;
    }

    // add support for hints
    :global {
        p.hint.tip,
        p.hint.error,
        p.hint.warn {
            letter-spacing: 0;
            box-sizing: border-box;
            font-size: inherit;
            line-height: 1.6rem;
            word-spacing: 0.05rem;
            background-color: rgba(238, 238, 238, 0.5);
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            padding: 8px 12px 8px 24px;
            margin-bottom: 16px;
            position: relative;
        }

        p.hint.tip:before,
        p.hint.error:before,
        p.hint.warn:before {
            border-radius: 100%;
            color: #fff;
            content: "!";
            font-size: 14px;
            font-weight: 700;
            left: -12px;
            line-height: 20px;
            position: absolute;
            height: 20px;
            width: 20px;
            text-align: center;
            top: 12px;
        }

        p.hint.tip {
            border-left: 4px solid #27ab83;
        }

        p.hint.tip:before {
            background-color: #27ab83;
        }

        p.hint.warn {
            border-left: 4px solid #f0b429;
        }

        p.hint.warn:before {
            background-color: #f0b429;
        }

        p.hint.error {
            border-left: 4px solid #ef4e4e;
        }

        p.hint.error:before {
            background-color: #ef4e4e;
        }
    }
}
