:root {
    // colors
    --background-01: #f6f6f6;
    --background-02: #ffffff;
    --text-01: #111111;
    --text-02: #f1f1f1;
    --text-03: #757575;
    --disabled-01: #cccccc;
    --disabled-02: #9e9e9e;
    --primary: #ad964f;
    --primary-hover: #998548;
    --secondary: #ff3864;
    --secondary-hover: #e23057;
    --danger: #da1e28;
    --danger-hover: #b81921;
    --focus: #56a5ff;
    --interactive-01: #0f62fe;
    --positive-01: green;

    --lt-overlay: rgba(0, 0, 0, 0.02);
    --md-overlay: rgba(0, 0, 0, 0.1);
    --modal-overlay: rgba(0, 0, 0, 0.3);

    // spacings
    --spacing-01: 0.25rem;
    --spacing-02: 0.5rem;
    --spacing-03: 0.75rem;
    --spacing-04: 1rem;
    --spacing-05: 1.5rem;
    --spacing-06: 2rem;
    --spacing-07: 3rem;

    // font sizes
    --font-size-01: 0.5rem;
    --font-size-02: 0.75rem;
    --font-size-03: 1rem;
    --font-size-04: 1.5rem;
    --font-size-05: 2rem;
    --font-size-06: 4rem;
    --font-size-07: 6rem;

    // width
    --width-desktop-1600: 1600px;
    --width-desktop-1250: 1250px;
    --width-mobile-460: 460px;
    --width-mobile-360: 360px;
    --width-mobile-280: 280px;

    // transition
    --transition-delay: 1.5s;

    // shadow
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
