@import '.././../styles/styleUtils.scss';
.Home {
    .Search {
        @include centerSection(var(--width-desktop-1600));
        background: var(--background-02);
        border-radius: var(--spacing-02);
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
