@import "../../styles/styleUtils.scss";
@import "../../styles/variables.scss";

.Offers {
    @include centerSection(var(--width-desktop-1600));
    gap: var(--spacing-03);
    column-gap: var(--spacing-06);
    column-gap: 2rem;
    justify-content: flex-start;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    .OffersCategory {
        font-size: var(--font-size-05);
        margin-bottom: var(--spacing-03);
    }
    .Filters {
        display: flex;
        align-items: center;
        grid-column: 1/-1;
        flex-direction: column;
        .SearchWrapper {
            width: 100%;
            :global {
                .wedd-input {
                    max-width: unset;
                    width: 100%;
                }
            }
        }

        .FiltersWrapper {
            flex: 1;
            display: grid;
            grid-column: 1/-1;
            grid-gap: var(--spacing-03);
            grid-template-columns: repeat(auto-fill, 12rem);
            width: 100%;
            :global {
                .#{$prefix}-btn {
                    width: 100%;
                }
            }
        }
        .FiltersReset {
            flex-shrink: 0;
        }
    }
    .FilterField {
        .FilterLabel {
            font-size: var(--font-size-02);
            padding-left: var(--spacing-03);
            margin-bottom: -0.25rem;
            display: inherit;
            &.Skeleton {
                height: 1rem;
                width: 40%;
                background: white;
                display: inherit;
            }
        }
    }
    .Empty {
        margin: auto;
        h2 {
            font-size: var(--font-size-05);
        }
    }
}
