.FloatMobileMenuOverlay,
.FloatMobileMenuBackground {
    display: none;
}
.NavbarContainer {
    background-color: var(--background-02);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
    .NavbarContentMobile {
        display: none;
    }
    .NavbarContent {
        max-width: 1600px;
        margin: auto;
        padding: var(--spacing-05);
        display: flex;
        justify-content: space-between;
        align-items: center;
        .Logo {
            font-weight: bold;
        }
        .NavMenu {
            display: flex;
            gap: var(--spacing-05);
            align-items: center;
            & > .Avatar {
                width: 35px;
                height: 35px;
                border-radius: 35px;
                background-color: var(--primary);
                position: relative;
                display: inline-block;
                & > a > img,
                svg {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
                & > .FlyoutMenu {
                    // display: none;
                    display: flex;
                    visibility: hidden;
                    flex-direction: column;
                    position: absolute;
                    background-color: #f9f9f9;
                    right: 0;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    padding: 12px 16px;
                    z-index: 1;
                    transition-delay: 1.5s;
                }
                &:hover .FlyoutMenu {
                    visibility: visible;
                    transition-delay: 0s;
                }
            }
        }
    }
}
@media only screen and (max-width: 800px) {
    .NavbarContainer {
        width: 100%;
        position: fixed;
        top: auto;
        bottom: 0;
        .NavbarContent {
            display: none;
        }
        .NavbarContentMobile {
            display: block;
            padding: var(--spacing-01);
            z-index: 999;
        }
        .NavMenu {
            width: 100%;
            display: flex;
            gap: var(--spacing-05);
            align-items: center;
            justify-content: space-around;
            & > .Avatar {
                width: 35px;
                height: 35px;
                border-radius: 35px;
                background-color: var(--primary);
                & > img,
                svg {
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                }
            }
        }
    }
    .FloatMobileMenuOverlay {
        width: 100vw;
        height: calc(100vh - (var(--spacing-01) + var(--spacing-01) + var(--spacing-07)));
        backdrop-filter: blur(2px);
        transition-delay: 2s;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 997;
    }
    .FloatMobileMenuBackground {
        width: 80vw;
        height: calc(100vh - (var(--spacing-05) + var(--spacing-05) + var(--spacing-07)));
        position: fixed;
        top: 0;
        right: -100vw;
        z-index: 998;
        display: flex;
        justify-content: flex-end;
        -webkit-animation: slideRightLeft 0.5s forwards;
        animation: slideRightLeft 0.5s forwards;
        @-webkit-keyframes slideRightLeft {
            100% {
                right: 0;
            }
        }
        @keyframes slideRightLeft {
            100% {
                right: 0;
            }
        }
        .FloatMobileMenu {
            width: 80vw;
            height: calc(100vh - (var(--spacing-01) + var(--spacing-01) + var(--spacing-07)));
            background-color: var(--background-02);
            display: flex;
            flex-direction: column;
            &:last-child {
                margin-top: auto;
            }
            .FloatMenuClose {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-top: var(--spacing-05);
                padding-bottom: var(--spacing-05);
                background-color: var(--lt-overlay);
            }
            .FloatMenuAvatarBox {
                width: 100%;
                margin-top: var(--spacing-05);
                margin-bottom: var(--spacing-05);
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                .FloatMenuAvatar {
                    display: flex;
                    justify-content: center;
                    width: max-content;
                    & > a > img {
                        width: 100px;
                    }
                }
                .FloatMenuUserName {
                    width: 100%;
                    text-align: center;
                    margin-top: var(--spacing-05);
                }
            }
            .FloatMenuList {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                overflow: auto;
                & > a {
                    width: 100%;
                    border-bottom: 1px solid lightgray;
                    font-size: var(--font-size-03);
                    padding: 0 var(--spacing-04);
                    height: var(--spacing-07);
                    margin: var(--spacing-01);
                    display: flex;
                    align-items: center;
                    &:hover {
                        background-color: var(--lt-overlay);
                    }
                    &:focus,
                    :focus-visible {
                        box-shadow: 0 0 0 2px var(--focus);
                        outline: 0;
                    }
                }
            }
            .FloatMenuLogout {
                margin-top: auto;
                width: 100%;
                display: flex;
            }
        }
    }
}
