@import "../../../styles/variables.scss";

.#{$prefix}-checkbox {
    $input: &;
    border-radius: 0.25rem;
    outline: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    margin: 0;
    padding: var(--spacing-04);
    font-size: var(--font-size-03);
    box-sizing: border-box;
    overflow: hidden;
    outline: none;
    &--wrapper {
        padding: var(--spacing-02);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &--root {
        display: flex;
        align-items: center;
        cursor: pointer;
        &-left {
            flex-direction: row-reverse;
        }
        &-right {
            flex-direction: row;
        }
        &-top {
            flex-direction: column-reverse;
        }
        &-bottom {
            flex-direction: column;
        }
    }
    &--bg {
        padding: var(--spacing-02);
        position: relative;
        border-radius: 100%;
    }

    &--required {
        position: absolute;
        top: 0;
        left: 0;
        color: var(--danger);
    }
    // states
    &:disabled,
    &--disabled {
        color: var(--disabled-02);
        cursor: not-allowed !important;
    }
    &:focus {
        box-shadow: 0 0 0 2px var(--focus);
    }

    // sizes
    &--sm {
        width: 15px;
        height: 15px;
    }
    &--md {
        width: 20px;
        height: 20px;
    }
    &--lg {
        width: 25px;
        height: 25px;
    }
    // kinds
    &--primary {
        background-color: var(--primary);
        &:hover:not(:disabled) {
            background-color: var(--primary-hover);
        }
    }
    &--secondary {
        &:hover:not(:disabled) {
            background-color: var(--background-01);
        }
    }

    //error
    &--error {
        box-shadow: 0 0 2px 0px var(--danger);
        border-radius: 0.25rem;
        color: var(--danger);
    }

    // // label
    &--label {
        margin: 0 var(--spacing-02);
        & > span {
            color: var(--danger);
        }
    }

    // bottom text
    &--errorText {
        color: var(--danger);
        margin: 0 var(--spacing-02);
    }
    &--helperText {
        margin: 0 var(--spacing-02);
        color: var(--text-03);
    }
}
