.Footer {
    box-sizing: border-box;
    display: flex;
    background-color: #ebebeb;
    padding: var(--spacing-02);
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: var(--spacing-02) 0 0 0;
    padding: 2rem;
    margin-top: auto;
}