.OfferCard {
    width: 100%;
    min-height: 12rem;
    max-width: -webkit-fill-available;
    background: var(--background-02);
    padding: var(--spacing-02);
    border-radius: var(--spacing-02);
    display: flex;
    gap: var(--spacing-02);
    transition: transform var(--transition-short);
    will-change: transform;
    overflow: hidden;

    .Promo {
        position: absolute;
        top: 26px;
        left: -52px;
        transform: rotateZ(-45deg);
        background: var(--primary);
        padding: var(--spacing-02) var(--spacing-07);
        color: var(--text-02);
    }
    &.Skeleton {
        background: white;
        border-color: transparent;
        overflow: hidden;
        &::after {
            position: absolute;
            inset: 0;
            z-index: 1;
            content: "";
            transform: translateX(-100%);
            animation: skeletonAnim 2s infinite;
            background-image: linear-gradient(
                90deg,
                transparent 0,
                var(--disabled-01) 20%,
                transparent 60%,
                var(--disabled-01)
            );
        }
        &:hover {
            background: transparent;
        }
        @keyframes skeletonAnim {
            100% {
                transform: translateX(100%);
            }
        }
    }

    &:hover,
    &:focus {
        transform: scale(1.005);
    }
    .Image {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        border-radius: var(--spacing-01);
        flex-shrink: 0;
    }
    .InfoWrap {
        width: 100%;
        position: relative;
        display: grid;
        > div {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            min-width: 0;
            gap: var(--spacing-03);
            > div {
                max-width: 100%;
                min-width: 0;
            }
        }
        .footerWrapper {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-top: var(--spacing-03);
            p {
                font-size: var(--font-size-02);
            }
            .footerEdit {
                display: flex;
                gap: var(--spacing-03);
            }
        }

        .Title {
            font-size: 20px;
            line-height: 135%;
            height: var(--spacing-06);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .Desc {
            word-break: break-all;
        }
        .Price {
            // position: absolute;
            // top: 0;
            // right: 0;
            display: flex;
            flex-shrink: 0;
            flex-direction: column;
            align-items: flex-end;
        }
        .Tags {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-02);
            margin-top: var(--spacing-03);
        }
    }
}

.Tag {
    font-size: var(--font-size-02);
    & > img,
    svg {
        color: var(--primary);
    }
}
