@import "../../styles/variables.scss";

.NewAd {
    width: var(--width-desktop-1250);
    max-width: calc(100% - var(--spacing-05));
    margin: auto;

    .Header {
        margin-top: var(--spacing-05);
        font-size: var(--font-size-05);
        font-weight: bold;
    }

    .FormSection {
        padding: var(--spacing-05);
        background-color: var(--background-02);
        margin-top: var(--spacing-03);
        border-radius: var(--spacing-02);
        box-shadow: 0 0 8px 0px var(--md-overlay);

        &:last-of-type {
            margin-bottom: var(--spacing-05);
        }

        .Section {
            &Header {
                margin-bottom: var(--spacing-02);
                font-size: var(--font-size-04);

                &:not(:first-of-type) {
                    margin-top: var(--spacing-05);
                }
            }

            &Desc {
                font-size: var(--font-size-02);
            }
        }

    }

    .FilterField {
        display: inline-flex;
        flex-direction: column;
        margin-right: var(--spacing-04);

        .FilterLabel {
            font-size: var(--font-size-02);
            padding-left: var(--spacing-03);
            margin-bottom: -0.25rem;
            display: inherit;
        }
    }

    .SubmitSection {
        display: flex;
        justify-content: flex-end;
    }



    .LongInput,
    .ShortDesc {
        width: 40rem;
        max-width: 100%;
    }

    .CategoryButton {
        margin-top: var(--spacing-04);
    }

    .BtnLabel {
        margin: 0 var(--spacing-01);
        font-size: var(--font-size-02);

        &.Error {
            color: var(--danger);
            margin-top: var(--spacing-04);
        }
    }

    .PriceInputs {
        display: flex;
        flex-wrap: wrap;
        column-gap: var(--spacing-04);

        :global {
            .#{$prefix}-input--wrapper {}
        }
    }

    .PriceSection {
        display: flex;
        gap: 1rem;
    }

    .TextEditor {
        margin: var(--spacing-03) 0 var(--spacing-05);
        box-shadow: 0 0 18px 0px rgb(239, 239, 239);
    }
}

.CategoriesModal {
    display: grid;
    grid-gap: var(--spacing-03);
    grid-template-columns: repeat(auto-fill, 16rem);
    justify-content: center;

    :global {
        .#{$prefix}-btn {
            width: 100%;
        }
    }
}

.PhotoAdder {
    display: flex;
    gap: var(--spacing-05);
    flex-wrap: wrap;
    padding: var(--spacing-03) var(--spacing-01);
    margin: var(--spacing-01) 0;


    &Drop {
        outline: 2px dashed var(--focus);
    }

    .PhotoInput {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
        top: -999px;
        left: -99px;

        &:focus+.Photo {
            outline: 2px solid var(--focus);
        }
    }

    .Photo {
        width: 160px;
        height: 120px;
        border-radius: var(--spacing-02);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-05);
        color: var(--text-03);
        cursor: pointer;
        border: 0;
        overflow: hidden;
        position: relative;
        background-color: rgb(250, 250, 250);
        box-shadow: 0 0 8px 0px var(--md-overlay);

        &:hover {
            color: var(--primary-hover);
            background-color: rgb(236, 236, 236);

        }

        &Img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        &Overlay {
            position: absolute;
            opacity: 0;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-03);
            background: var(--modal-overlay);
            backdrop-filter: blur(2px);

            &:hover,
            &:focus-within {
                opacity: 1;
            }
        }
    }
}