@import "../../styles/styleUtils.scss";

.FavList {
    @include centerSection(var(--width-desktop-1600));
    .Header {
        margin-top: var(--spacing-05);
        font-size: var(--font-size-05);
        font-weight: bold;
    }
    .subHeader {
        margin-top: var(--spacing-04);
        font-size: var(--font-size-03);
    }
    .Offers {
        @include centerSection(var(--width-desktop-1600));
        gap: var(--spacing-03);
        column-gap: var(--spacing-06);
        column-gap: 2rem;
        justify-content: flex-start;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(640px, 1fr));
    }
}