@import "./styles/reset";
@import "./index";
@import "./styles/cssVariables";
@import "./styles/globals";
@import 'react-toastify/dist/ReactToastify.css';

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    .app {
        height: 100%;
        overflow: auto;
        &.no-scroll {
            overflow: hidden;
        }
    }
}