@import "./styles/reset";
@import "./index";
@import "./styles/cssVariables";
@import "./styles/globals";
@import "react-toastify/dist/ReactToastify.css";

.App {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;

    .decorators {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: var(--width-desktop-1600);
        margin: auto;

        &::before {
            content: "";
            background-image: url(./assets/images/lily1.png);
            position: absolute;
            top: 0;
            left: -10rem;
            width: 30rem;
            height: 30rem;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 0;
            transform: rotate(-15deg);
        }

        &::after {
            content: "";
            background-image: url(./assets/images/lily2.png);
            position: absolute;
            bottom: -70px;
            right: -20rem;
            width: 30rem;
            height: 30rem;
            background-size: contain;
            background-repeat: no-repeat;
            z-index: 0;
            transform: rotate(15deg);
        }
    }
}

::-webkit-scrollbar {
    width: var(--spacing-02);
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1rem;
}

::-webkit-scrollbar-track {
    border-radius: 1rem;
    background: var(--background-02);
}